# Google OAuth Configuration
GOOGLE_CLIENT_ID=723739107885-r8b0rk2purbqau5t5fdvo6ko2548355s.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# The email of the workspace owner to manage calendar for
OWNER_EMAIL=brentp@futuremindspark.net
